body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura para ocupar a tela inteira */
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.timer-container {
    display: flex; 
    align-items: center; 
}

.time {
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px; 
}

.separador {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 10px;
}
